@import "@/variables";

$theme-colors: (
  light: $lightGray,
);
@import "~bootstrap";
@import "~bootstrap-vue";

body {
  background-color: $superMuted;
}
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

.btn-primary {
  background-color: $primary;
  border: none;
  color: white;
  font-weight: bolder;
  strong {
    color: White;
  }
}
.btn-primary:hover {
  color: white;
}
.btn-primary:active {
  color: white;
}
.btn-primary:focus {
  color: white;
}

.section-title {
  text-transform: uppercase;
  text-align: center;
}
.section-subtitle {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 3rem;
  margin-top: 0rem;
}

.breadcrumb {
  background-color: $lightGray;
  .breadcrumb-item {
    // color: white;
  }
}

.bg-navyblue {
  background-color: $navyBlue;
}
h1,
h2,
h3,
h4,
h5, h6 {
  letter-spacing: 0.3rem;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 3em;
  margin-bottom: 0.3em;
}
h2 {
  font-size: 2.5em;
  letter-spacing: 0.2rem;
}
h3 {
  font-size: 2em;
  letter-spacing: 0.2rem;
}
h4 {
  font-size: 1.6em;
  letter-spacing: 0.2rem;
}

h5 {
  font-size: 1.2em;
  letter-spacing: 0.2rem;
}
h6 {
  font-size: .9em;
  letter-spacing: 0.2rem;
}

.lilac {
  color: $lilac;
  fill: $lilac;
}

.periwinkle {
  color: $periwinkle;
  fill: $periwinkle;
}
.fucia {
  color: $fucia;
  fill: $fucia;
}

.bg-periwinkle {
  background-color: $periwinkle-soft;
  fill: $periwinkle;
}

.bg-lilac {
  background-color: $lilac-soft;
  fill: $lilac;
}
