@import "@/variables";

$theme-colors: (
  light: $lightGray,
);
@import "~bootstrap";
@import "~bootstrap-vue";

body {
  background-color: $superMuted;
}
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.btn-primary {
  background-color: $primary;
  border: none;
  color: white;
  font-weight: bolder;
  strong {
    color: White;
  }
}
.btn-primary:hover {
  color: white;
}
.btn-primary:active {
  color: white;
}
.btn-primary:focus {
  color: white;
}

.section-title {
  text-transform: uppercase;
  text-align: center;
}
.section-subtitle {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 3rem;
  margin-top: 0rem;
}

.breadcrumb {
  background-color: $lightGray;
  .breadcrumb-item {
    // color: white;
  }
}

h1,
h2,
h3,
h4,
h5 {
  letter-spacing: 0.3rem;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 5vh;
  margin-bottom: 2vh;
}
h2 {
  font-size: 3vh;
  letter-spacing: 0.2rem;
}
h3 {
  font-size: 2vh;
  letter-spacing: 0.2rem;
}
h4 {
  font-size: 1.8vh;
  letter-spacing: 0.2rem;
}

h5 {
  font-size: 1.2vh;
  letter-spacing: 0.2rem;
}
