@import "@/variables";

$theme-colors: (
  light: $lightGray
);
@import "~bootstrap";
@import "~bootstrap-vue";

body {
  background-color: $superMuted;
}
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.btn-primary {
  background-color: $primary;
  border: none;
  color: white;
  font-weight: bolder;
  strong {
    color: White;
  }
}
.btn-primary:hover {
  color: white;
}
.btn-primary:active {
  color: white;
}
.btn-primary:focus {
  color: white;
}

.section-title {
  text-transform: uppercase;
  text-align: center;
}
.section-subtitle {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 3rem;
  margin-top: 0rem;
}

.breadcrumb {
  background-color: $lightGray;
  .breadcrumb-item {
    // color: white;
  }
}
