$primary: #60c3fe;
$lightGray: #eee;
$muted: #999;
$navyBlue: rgb(11, 33, 44);
$fucia: rgb(167, 29, 104);
$lilac: rgb(139, 94, 184);
$lilac-soft: rgba(139, 94, 184, 0.1);
$softLilac: rgb(232, 234, 249);
$periwinkle: rgb(108, 123, 216);
$periwinkle-soft: rgba(108, 123, 216, 0.1);
$superMuted: #f8f9fa;
